* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*css reset*/
    font-family: Arial, Helvetica, sans-serif;
}

body{/*element or type selector*/
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header{/*element or type selector*/
     display: flex;
     width: 100%; /*relative width*/
     height: 4.5rem; /*relative height*/
     /*height 200px: /*fixed value*/
     background-color: white;
     border: 1px solid black;/*css shorthand*/
     justify-content: space-around;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section{
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: white;
    border: 1px solid black;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    background-color: white;
    border: 1px solid black;
    padding-left: 1rem;
}

.brand{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo{
    display: flex;
    background-color: rgb(153, 67, 234);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

ul{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
}

form input{
    font-size: 1.25rem;
    width: 80%;
    height: 3rem;
    border-radius: 2.5rem;
    border: 1px solid black;
    padding-left: 1rem;
}

form input::placeholder{
    font-size: 1.25rem;
}

.submit-btn {
    width: 30%;             
    height: 3rem;           
    font-size: 1.2rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    background-color: white;
    margin-top: 3rem;
    margin-left: 12rem;   
}


.submit-btn:hover {
    background-color: rgb(78, 65, 197);
}

.box_model{
    width: 100%;
    background-color: white;
    height: 34rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 0;
}

.box{
    box-sizing: border-box;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
    margin: 3rem;
}

table{
    box-sizing: border-box;
    caption-side: bottom;
    width: 70%;
    height: 10rem;
    text-align: left;
    font-size: 1.25rem;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}

ol{
    font-size: 1.5rem;
    list-style-type: lower-roman;
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

dl{
    font-size: 1.5rem;
    margin: 0;
}

dt, dd{
    display: inline;
    margin: 0;
}

dd::after{
    content: "\A";
    white-space: pre;
}

article{
    display: flex;
    gap: 2rem;
}